<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload CSV</title>
</head>
<body>
  <div class="content text-center  my-5">
    <h2>UPLOAD CSV</h2>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <input accept=".csv" class="form-control" (change)="onFileSelected($event)" type="file"
        name="csvFile" >
      </div>
      <div class="col-md-4"></div>
    </div>


    <app-project-pairs *ngIf="rowsArray && rowsArray.length > 0">;
      {{rowsArray}}
    </app-project-pairs>
  </div>
</body>
</html>
